.header {
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    background-color: #222;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo{
    height: 10vh;
}

.logo img {
    max-width: 100%;
    height: 100%;
}

.header-right {
    display: flex;
}

.auth {
    display: flex;
    align-items: center;
}

.auth>button {
    font-size: 1.1rem;
    margin: 0 0.5rem;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;

    background-color: #e00d2a;
    border: 1px solid #e00d2a;
    color: #fff;
    height: 2rem;
}

.name_header {
    margin: 0 1rem;

}

.auth a {
    color: white;
    margin: 1rem;
    cursor: pointer;
}


.auth a:hover {
    border-bottom: 2px solid;
}
.bottomCurrent {
    border-bottom: 2px solid;
}